.components-panel__body { 
    .uagb-dimensions-control {
    position: relative;
     margin-bottom: 1.5em;
     .components-base-control__label {
        margin-bottom: 5px;
    }
    .components-base-control__help {
        margin-top: -8px;
    }
    input[type="number"].uagb-dimensions-control__number {
        border-radius: 0;
        box-shadow: none !important;
        height: 30px;
        margin: 0 -1px 0 0;
        padding-right: 1px;
        width: 25%;
        &.uagb-dimensions-control__number:focus {
            z-index: 1;
        }
    }
    }
    .uagb-dimensions-control__header{
        display: flex;
    }.uagb-dimensions-control__inputs {
        display: flex;
    }
    .uagb-dimensions-control__mobile-controls-item {
        border: 0;
        border-radius: 2px 0 0 2px;
        box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color, #007cba) !important;
        display: none;
        font-size: 10px;
        height: 30px;
        justify-content: center;
        left: 50px;
        line-height: 12px;
        padding: 0;
        position: absolute;
        text-align: center;
        text-shadow: none;
        top: -5px;
        width: 26px;
        z-index: 1;
    &.is-active {
        display: block;
    }
     &:focus:enabled {
        box-shadow: inset 0 0 0 1px #fff;
    }
    &:focus:enabled svg {
        fill: #fff;
    }
    svg {
        position: relative;
    }
  }
}